<!DOCTYPE html>
<html lang="en">
<head>
    <title>[title]</title>
    <meta name="keywords" content="Programing, Rust, Games">
    <meta name="description" content="This is my personal webpage where I will be doing whatever">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/main.css"></link>
    <script src="/js/main.js" type="text/javascript"></script>
</head>
<body>
<header>
    Welcome to my site
</header>
<nav>
    <a href="/">Home</a>
    <a href="/test">Test form</a>
</nav>
[content]
</body>
</html>