header {
    color: red;
}
body {
    color: red;
}
nav a {
    text-decoration: none;
}
a {
    color: red;
}
a:visited {
    color: darkred;
}
h1 {
    margin-top: 0;
    text-align: center;
}
footer {
    border-top: 1px solid red;
}